<div class="intro">
    <p>
        Similar to Y.later, but sooner.
    </p>
</div>

{{>getting-started}}

<h2>
    Description
</h2>

<p>
    Y.soon accepts a callback function to be called as soon as possible in a future turn of the JavaScript event loop.  Y.soon(fn); will attempt to be faster and more efficient than Y.later(0, this, fn);
    but it falls back to Y.later in worst case.
</p>
<p>
    This functionality is not natively implemented in most browsers so various tricks are used to emulated it.  Much of this is based on setImmediate.js.  https://github.com/NobleJS/setImmediate
</p>
<p>
    Copyright (c) 2011 Barnesandnoble.com, llc and Donavon West
</p>
<p>
    https://github.com/NobleJS/setImmediate/blob/master/MIT-LICENSE.txt<br>
</p>

```
YUI().use('gallery-soon', function(Y) {
    Y.soon(function () {
        Y.log('This happens second.');
    });

    Y.soon(function () {
        Y.log('This won\'t happen.');
    }).cancel();

    Y.log('This happens first.');
});
```
